@import "./global/global_colors.css";

body {
  --SPRITE-HEIGHT: 43px;
  --SPRITE-WIDTH: 59px;
}

#index-main {
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main-card {
      position: relative;
      background-color: white;
      /* height: 30rem; */
      width: auto;
      margin-top: 3rem;
      margin-left: 1.2rem;
      margin-right: 1.2rem;

      & img {
        max-width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        background-color: rgb(from var(--foxxybrownlighter) r g b / 0.5);

        width: 100%;
        height: 100%;

        top: -10px;
        left: 13px;

        z-index: -1;
      }

      .fursona-hand-only {
        position: absolute;
        height: auto;
        width: 35%;
        top: -20%;
        left: -15%;
      }

      .foxxy-hmph-img {
        overflow-x: hidden;
        position: absolute;
        height: auto;
        width: 30%;
        top: -20%;
        right: -2%;
      }

      .text {
        padding: 3rem 5rem;
        text-align: center;
        font-size: 1.7rem;
      }
    }

    #sprite {
      /* border: solid 1px black; */
      background: url("../resources/fox_spritesheet.png") no-repeat;
      height: VAR(--SPRITE-HEIGHT);
      width: VAR(--SPRITE-WIDTH);
      animation: fox-movement 1s steps(6) infinite;
      transform: scale(3.3);
      image-rendering: pixelated;
      z-index: 2;
      transform-origin: bottom right;
      justify-self: flex-end;
      cursor: pointer;
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    #sprite:hover {
      transform: scale(3.7) rotate(-1deg);
    }

    .pages-i-like {
      .header {
        position: relative;
        .fox-giving-flower {
          position: absolute;
          width: auto;
          height: 140%;
          top: -40%;
          left: -7%;
        }

        .text {
          background-color: var(--foxxybrownmegaalternative);
          color: white;
          padding: 1rem 1.5rem;
          font-size: 1.8rem;
          text-align: right;
          font-family: "JacquardaBastarda9";
        }
      }

      .page-banners {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: flex-end;
        margin: 0.77rem 1rem;

        & img {
          width: auto;
          height: 2.5rem;
        }

        .banner {
          cursor: pointer;
          border-radius: 4px;
          &:hover {
            scale: 1.11;
            transition: scale 0.2s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes fox-movement {
  to {
    background-position: calc(VAR(--SPRITE-WIDTH) * -6) 0px;
  }
}
