<!-- =================== foxxyxheader.html ===================== -->
<!-- Import with CSS "foxxyheader.css" -->
<header class="foxxyheader">
  <div class="blank-space"></div>
  <section class="main-content">
    <!-- --- Left (Title) --- -->
    <section class="left">
      <div class="brown-box">
        <img class="shyfoximg" src="../resources/foxxy_blushed.png" alt="foxxy_blushed_sticker_logo_page" />
        <p class="title">Fox street</p>
      </div>
    </section>
    <!-- ----  Right (Options) ---- -->
    <nav class="right">
      <a class="link" href="/"> Home </a>
      <a class="link" href="/pages/peculiaritys.html"> Características </a>
      <a class="link" href="/pages/types.html"> Tipos de zorros </a>
      <a class="link" href="/pages/petsconsideration.html"> Concientización </a>
      <a class="link" href="/pages/videos.html"> Videos </a>
    </nav>
  </section>
  <div class="blank-space"></div>
  <div class="brown-space"></div>
</header>
<!-- ================ END FOX HEADER ==================== -->
