:root {
  --foxxybrown: #da9557;
  --foxxybrownalternative: #cd9e70;
  --foxxybrownmegaalternative: #ddaf82;
  --foxxybrowndarker: #62452b;

  --foxxydarkgray: #383838;
  --foxxybrownlight: #f2d9b1;

  --foxxybrownlightbackground: #f2d9b1;

  --foxxydarkreact: #323232;

  --foxxybrownlighter: #be6a2b;

  --foxxycreamlight: #ffeedd;
  --foxxycreamdark: #663a00;
  --foxxycreamydarky: #a17f5d;
}
