#index-main {
  .left {
    max-height: 65vh;
    z-index: 2;

    .main-card {
      position: relative;
      background-color: white;

      /* Cute Shadow!  */
      &::before {
        content: "";
        position: absolute;
        background-color: rgb(from var(--foxxybrownlighter) r g b / 0.5);

        width: 100%;
        height: 100%;

        top: -10px;
        left: -13px;

        z-index: -1;
      }

      .header {
        position: relative;
        width: 100%;
        height: 4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        background-color: var(--foxxydarkreact);

        .foxxy-hi-img {
          position: relative;
          top: -2.5rem;
          height: 6rem;
          width: auto;
          height: 10.5rem;
        }

        .title {
          padding-right: 3rem;
          font-size: 3rem;
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        .texts {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding: 1rem;

          font-size: 1.7rem;
          text-align: center;

          .text-1 {
            font-style: italic;
            text-decoration: underline;
          }

          .text-2 {
            .programacion-web {
              text-decoration: underline;
              font-style: italic;
            }
          }
        }

        .furry-footer {
          display: flex;
          flex-direction: row;
          align-items: stretch;

          --FURRYFOOTER-BLACKRECTANGLE-SIZE: 1.5rem;

          .test {
            background-color: var(--foxxydarkreact);
            width: var(--FURRYFOOTER-BLACKRECTANGLE-SIZE);
          }

          .furry-tecnm-image {
            height: auto;
            width: calc(100% - var(--FURRYFOOTER-BLACKRECTANGLE-SIZE));
          }
        }
      }
    }
  }
}
